{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<title>Crashphone</title>


	<link rel="stylesheet" type="text/css" href="{% static "solicita.css" %}" media="all" />
	    {% block css %}
    {% endblock %}
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
 <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVuND2HGk8qudUg74rqyRyOLEzFu-GrG8&sensor=falsee&region=EC">
    </script>
     <script type="text/javascript"   src="{% static "script.js" %}">
</script>
</head>

<body>
<div id="main">

	<div id="Div">
		<div id="logo"><img src="{% static "images/logo_crashPhone.png" %}" />
		</div>
		<div id="userInfo">
  {% if user.is_authenticated %}
    <p>Bienvenido, {{ user.username }}.   <a href="{% url 'salir' %}">Salir</a></p>
{% else %}
    <p><a href="{% url 'ingresar' %}">Ingresar</a> </p>
{% endif %}

		</div>
		<div class="Txt_Solicitar">
			<a href="{% url 'solicitar' %}">
				<p class="lastNode">Solicitar
			</p></a>
		</div>
		<div class="Txt_Registro">
			<a href="{% url 'registro' %}">
				<p class="lastNode">Registro
			</p></a>
		</div>
		<div class="Txt_Home">
					<a href="{% url 'home' %}">
				<p class="lastNode">Home
			</p></a>
		</div>
		<div id="Div2">
		</div>
	</div>
	<div class="clearFloat"></div>
	<div id="Div3">
		<div id="headePic"><img src="{% static "images/header_solicitar.jpg" %}"  />
		</div>
		<div class="clearFloat"></div>
		<div id="headerBar">
		</div>
		
		<center>
	
    {% block content %}
    {% endblock %}




</center>
</body>

</html>
