{% extends "app/template/base.html" %}
{% load staticfiles %}
	    {% block css %}
<link rel="stylesheet" type="text/css" href="{% static "resultados.css" %}" media="all" />

    {% endblock %}

{% block content %}
<div class="Titulo">
			
				<p class="lastNode">Técnicos Disponibles
			</p>
		</div><br>
		<div class="clearFloat"></div>
		<div id="separadorHeader">
		</div>
		<div class="clearFloat"></div>
		<div id="Div4">
			<div id="Div5">
				<div id="Div6"><img src="{% static "images/tecnico1.png" %}" />
				</div>
				<div class="Txt_Jose">
					
						<p class="lastNode">Jose Luis Guanoluisa Cedeño
					</p>
				</div>
				<div id="star"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star2"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star3"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star4"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star5"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="colwrap4">
					<div id="Div7">
						<div class="Txt_SOLICITAR">
							<a href="{% url 'asignado' %}">

								<p class="lastNode">SOLICITAR
							</p></a>
						</div>
						<div class="clearFloat"></div>
					</div>
					<div class="clearFloat"></div>
				</div>
			
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
			<div id="Div9">
				<div id="Div10"><img src="{% static "images/tecnico2.png" %}" />
				</div>
				<div class="Txt_Rafael">
					
						<p class="lastNode">Rafael Matovelle Duran
					</p>
				</div>
				<div id="star6"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star7"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star8"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star9"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="colwrap5">
					<div id="Div11">
						<div class="Txt_SOLICITAR2">
							<a href="{% url 'asignado' %}">
								<p class="lastNode">SOLICITAR
							</p></a>
						</div>
						<div class="clearFloat"></div>
					</div>
					<div class="clearFloat"></div>
				</div>
							<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
			<div id="Div13">
				<div id="Div14"><img src="{% static "images/tecnico3.png" %}" />
				</div>
				<div class="Txt_Jose2">
					
						<p class="lastNode">Jose Luis Guanoluisa Cedeño
					</p>
				</div>
				<div id="star10"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star11"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="star112"><img src="{% static "images/star.png" %}" />
				</div>
				<div id="colwrap6">
					<div id="Div15">
						<div class="Txt_SOLICITAR3">
							<a href="{% url 'asignado' %}">
								<p class="lastNode">SOLICITAR
							</p></a>
						</div>
						<div class="clearFloat"></div>
					</div>
					<div class="clearFloat"></div>
				
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
</div>
{% endblock %}