{% extends "app/template/base.html" %}
{% load staticfiles %}
	    {% block css %}
<link rel="stylesheet" type="text/css" href="{% static "resultados.css" %}" media="all" />

    {% endblock %}

{% block content %}

<div class="Titulo">
			
				<p class="lastNode">Técnicos Disponibles
			</p>
		</div>

		<div class="clearFloat"></div>
		<div id="separadorHeader">
		</div>
		<div class="clearFloat"></div>
		<br>
			<br>
<TABLE>
	<tr>
	<td><img src="{% static "images/tecnico1.png" %}" />
</td>
		<td>
			<p class="lastNode">Natasha Hidalgo
					</p>
		</td>
		<td><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /></td>
		<td>
				<a href="{% url 'asignado' %}">

								<p class="lastNode">SOLICITAR
							</p></a>

		</td>
	</tr>
	<tr>
	<td><img src="{% static "images/tecnico2.png" %}" />
</td>
		<td>
			<p class="lastNode">Karla Vascnoez
					</p>
		</td>
		<td><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" />
		</td>
		<td>
				<a href="{% url 'asignado' %}">

								<p class="lastNode">SOLICITAR
							</p></a>

		</td>
	</tr>
	<tr>
	<td><img src="{% static "images/tecnico3.png" %}" />
</td>
		<td>
			<p class="lastNode">Kerly Vinueza
					</p>
		</td>
		<td><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /></td>
		<td>
				<a href="{% url 'asignado' %}">

								<p class="lastNode">SOLICITAR
							</p></a>

		</td>
	</tr>
		<tr>
	<td><img src="{% static "images/tecnico3.png" %}" />
</td>
		<td>
			<p class="lastNode">Verónica Meléndez
					</p>
		</td>
		<td><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /><img src="{% static "images/star.png" %}" /></td>
		<td>
				<a href="{% url 'asignado' %}">

								<p class="lastNode">SOLICITAR
							</p></a>

		</td>
	</tr>
</TABLE>
<br>
<br>
		<div class="clearFloat"></div>
		<div id="separadorHeader">
		</div>
		<div class="clearFloat"></div>
		
{% endblock %}